html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  
  font-family: 'Cuprum', 'Arial', 'sans-serif';
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
    
  background-color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.user-nav,
.main-nav-list,
.info-partners-list,
.footer-navigation-list,
.catalog-list,
.fotter-social-list,
.user-nav-list,
.breadcrumbs,
.product-list,
.pagination-list,
.profile-block,
.arrows-list,
.footer-social-list,
.banners-list,
.popular-developers-list,
.services-list,
.banners-list-slider {
  list-style: none;
}

.main-header {
  height: 320px;

  background-color: #f3f7f9;
}
    
.main-header-logo {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 47px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
   
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.header-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 43px;
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
}

input[name='search'] {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: calc(100% - 43px);
  outline: none;
}

.form-search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  padding-left: 17px;

  background: none;
  border: none;
}

input::-webkit-input-placeholder {
 padding-right: 10px;

 color: #ffffff;
}

input:-ms-input-placeholder {
 padding-right: 10px;
 
 color: #ffffff;
}

input::-ms-input-placeholder {
 padding-right: 10px;
 
 color: #ffffff;
}

input::placeholder {
 padding-right: 10px;
 
 color: #ffffff;
} 

.form-search-icon {
  fill: #6a7180;
  
  outline: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.form-search:hover .form-search-icon,
.bookmark-link:hover .bookmark-link-icon,
.cart:hover .cart-icon {
  fill: #ffffff;
}

input[name='search']:hover {
  background-color: #212a3a;
  outline: none;
  border: none;
}

.form-search:hover input,
.form-search:hover .form-search-button,
.bookmark-link:hover,
.cart:hover {
  background-color: #212a3a;
}

.form-search input[name='search']::-ms-clear {
 display: none;
}

.bookmark-link:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmark-link-icon:active,
.cart-icon:active {
  fill: #8b8e94;
}

input[name='search']:focus {
  background-color: #ffffff;
  color: black;
  outline: none;
  border: none;
}

input[name='search']:focus + button {
  color: #ffffff;
}

input[name='search']:focus + .form-search-button {
  background-color: #ffffff;
}
input[name='search']:focus + button .form-search-icon {
  fill: red;
}

.bookmark-link-icon,
.cart-icon {
  fill: #6a7180;
}

.form-search:focus {
  color: #ffffff;
}

.form-search-icon:focus {
  fill: #ee3643;
}

.entry-link-icon {
  right: 69px;
  margin-right: 17px;
  margin-top: 2px;
  fill: #c4c4c4;
}

.user-nav-item .entry-link:hover,
.entry-link:hover .entry-link-icon {
  color: #ef3743;
  fill: #32425b;
}

.user-nav-item .entry-link:active,
.user-nav-item .check-in-link:active,
.entry-link:active .entry-link-icon {
  color: rgba(0, 0, 0, 0.3);
  fill: #c5c5c5;
}

.order-button {
  padding: 12px;
  width: 150px;

  text-align: center;

  background-color: #63a63e;
}

.order-button:hover {
  background-color: #5fbb2d;
}

.order-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.bookmark-link,
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;

  text-align: center;
}

.cart {
  padding-left: 7px;
}

.bookmark-link-icon {
  margin-left: 31px;
  margin-right: 12px;
}

.bookmark-counter,
.cart-counter {
  padding-left: 5px;
}
 
.cart-icon {
  margin-right: 17px;
  margin-left: 17px;
}

.user-nav,
.main-nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-nav .entry-link {
  position: relative;
  padding-left: 32px;
}

.entry-link-icon {
  position: absolute;
}

.main-nav-list a {
  display: block;
  padding: 22px 30px;
  vertical-align: middle;
}

.user-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  margin-right: auto;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.form-search input {
  border: none;
  background-color: #293449;
}

.header-middle,
.header-bottom,
.about-item {
  background-color: #f3f7f9;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  padding-bottom: 18px;
}

.header-middle-wrapper,
.header-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-middle h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 197px;
  margin-left: 53px;
  margin-top: 4px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 1.44;
  color: #ee3643;
}

.header-middle .main-title-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 202px;
  margin-left: 53px;
  margin-top: 4px;
  
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  color: #ee3643;
}

.main-title-catalog p {
  width: 202px;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-phone:before {
  content: ' ';

  position: absolute;
  display: inline-block;
  width: 25px;   
  height: 20px;
  left: 12px;
  vertical-align: middle;

  background: url('../img/svg/icon-phone.svg') no-repeat;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 300px;
}

.entry-link {
  display: block;
  width: 120px;
  height: 44px;
  padding: 12px;
  padding-left: 13px;
  margin-left: 21px;
}

.check-in-link {
  display: block;
  width: 150px;
  height: 44px;
  padding: 12px;
  margin-left: 10px;
}

.check-in-link:hover {
  color: #ef3743;
}

.main-nav-list {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  padding: 0 25px;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
}

.header-phone {
  position: relative;

  width: 270px;
  height: 45px;
  padding: 10px;
  margin-right: 50px;
  padding-left: 32px;

  text-align: center;
  font-size: 21px;
  line-height: 21px;
  
  color: #ee3643;

  border: solid 3px #ffffff;
}

.address {
  width: 270px;
  margin-top: 4px;

  text-align: center;
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}

.entry-link,
.check-in-link {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.nav-user-item,
.nav-user-item-end {
  margin-bottom: 7px;
}

.nav-user-item a,
.nav-user-item-end a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: underline;
}

.nav-user-item a {
  margin-left: 19px;
}

.nav-user-item-end a {
  margin-left: 13px;
}

.nav-user-item::after { 
  content: ' ';

  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: 11px;
  margin-bottom: 4px;

  vertical-align: middle;
  border-radius: 50%;
  background-color: #32425c;
}

.nav-user-item:hover a,
.nav-user-item-end:hover a {
  color: #ee3643;
}

.nav-user-item:active a,
.nav-user-item-end:active a {
  color: rgba(50, 66, 92, 0.3);
}

.info-company h3,
.contact h3 {
  margin-bottom: 27px;
  font-weight: normal;
}

.info-contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
  background-color: #ffffff;
}

.info {
  width: 570px;
}

.button-about-company {
  max-width: 400px;
  padding: 7px 41px;
  margin-top: 20px;

  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;

  background-color: #ee3643;
}

.contact {
  width: 300px;
}

.contact .mini-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-write {
  width: 300px;
  
  padding: 7px;
  margin-top: 40px;

  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;

  background-color: #ee3643;
}

.header-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 68px;
  padding: 10px 42px;
  
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-logo:hover {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.footer-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  padding: 0;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.footer-navigation-item {
  line-height: 33px;
}

.footer-navigation-item a {
  margin: 0 33px 0 59px;
}
    
.footer-contatcs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 49px;
}

.footer-navigation-item a:last-of-type {
  margin-right: 0;
}

.footer-contatcs p {
  margin-bottom: 0;
  margin-top: 28px;
}

.reserved {
  margin-right: 163px;
}

.reserved p {
  margin: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #222b3a;
}

.social-button:hover,
.social-button:active {
  background-color: #ed3744;
}

.footer-social {
  margin-right: 120px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
  margin-left: 73px;
  margin: 0 auto;
  padding: 0;
}

.footer-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 28px;
  padding-top: 37px;
}

.breadcrumbs-item a,
.breadcrumbs-item-end a {
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  line-height: 1.38px;
  font-weight: normal;
  color: #000000;

  text-transform: uppercase;
}

.main-nav {
  width: 100%;
  margin-top: 6px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-nav-item a:hover {
  background-color: #293449;
}

.main-nav-item a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.user-nav-item a:hover {
  color: #ee3643;
}

.middle-title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.banner-block {
  width: 100%;
  margin-top: 60px;
}

.banners-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
}

.banners-item {
  position: relative;
  width: 300px;
  height: 123px;
  background-repeat: no-repeat;
  padding: 21px 23px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.banners-item-materials {
  background-color: #ffbf47;
  background-image: url('../img/svg/icon-1.svg');
  background-position: 213px 31px;
}

.banners-item-instruments {
  background-color: #3bbce3;
  background-image: url('../img/svg/icon-2.svg');
  background-position: 198px 31px;
}

.banners-item-equipment {
  background-color: #dc91d8;
  background-image: url('../img/svg/icon-3.svg');
  background-position: 190px 31px;
}

.sale {
  background-color: #8ed78f;
  background-image: url('../img/svg/icon-4.svg');
  background-position: 195px 26px;
  margin-bottom: 20px;
}

.delivery-simple-row-item {
  background-color: #ffc047;
  background-image: url('../img/svg/icon-5.svg');
  background-position: 191px 32px;
}

.banners-item p {
  margin: 0px;
  margin-bottom: 18px;

  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff; 
}

.banners-item a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.banners-item-link {
  padding: 10px 26px;

  border-radius: 3px;
}

.banners-item-link:hover {
  opacity: 0.2;
  background-color: #000000;
}

.banners-item-link:active {
  opacity: 0.3;
  background-color: #000000;
}

.materials-link {
  background-color: #e5ac40;
}

.instruments-link {
  margin-left: 2px;

  background-color: #35a9cc;
}

.equipment-link {
  padding: 10px 31px;

  background-color: #c682c2;
}

.sale-link {
  padding: 10px 24px;

  background-color: #80c180;
}

.delivery-link {
  padding: 10px 38px;

  background-color: #e5ac40;
}

.slider-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 620px;
  height: 266px;
}

.slider-controls-wrap {
  position: absolute;
  bottom: 18px;
  left: 50%;
  z-index: 1000;
  height: 29px;

  text-align: center;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-control {
  display: inline-block;
  width: 5px;
  height: 5px;
  padding: 3px;
  margin: 0 3px;

  border: 2px solid #fff;
  border-radius: 50%;
  vertical-align: top;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.slider-control-active {
  background-color: #ee3643;
}

.slider-toggle {
  position: absolute;
  top: 50%;
  z-index: 1000;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 40px;
    
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider-toggle:disabled {
  opacity: 0.5;
}

.slider-toggle-prev {
  left: 24px;
}

.slider-toggle-next {
  right: 21px;
}

.slider-toggle::after,
.slider-toggle::before {
  content: ' ';

  position: absolute;
  display: block;
  left: 50%;
  z-index: 1000;

  width: 3px;
  height: 28px;

  background-color: #fff;
}

.slider-toggle::before {
  top: -3px;
}

.slider-toggle::after {
  top: 15px;
}

.slider-toggle-next::after,
.slider-toggle-prev::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-toggle-next::before,
.slider-toggle-prev::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slide {
  position: relative;
  width: 620px;
  height: 266px;
  overflow: hidden;
}

.slide-slogan {
  margin: 0;
  padding-left: 25px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slide-title {
  margin: 0;
  padding-left: 24px;
  padding-top: 25px;
  margin-bottom: 4px;

  font-size: 36px;
  line-height: 30px;
  font-family: 'Cuprum','Arial','sans-serif';
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.slide-catalog-link,
.services-button {
  position: absolute;

  left: 26px;
  width: 195px;
  min-height: 38px;
  padding: 11px 20px 8px;
  bottom: 23px;
  
  font-family: 'Cuprum','Arial','sans-serif';
  font-size: 14px;
  line-height: 1.29;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.services-item .services-button {
  left: 320px;
  bottom: 125px;
}

.slide-catalog-link:hover {
  background-color: #ca2c37;
}

.slide-catalog-link:active,
.slide-catalog-link:focus {
  background-color: #ba2732;
}

.slide-perforators {
  background: url('../img/content-img/layer-99_2.jpg') no-repeat 0 0;
  background-color: #685c53;
}

.slide-dreli {
  background: url('../img/content-img/layer-99.jpg') no-repeat 0 0;
  background-color: #685c53;
}

.slide {
  display: none;
}

.shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banners-list-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 0;
  padding: 0px;
  margin-left: 0px;
}

.popular-title,
.popular-developers-title {
  margin: 0;
  padding: 27px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-title-wrapper,
.popular-developers-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 35px;

  background-color: #f9f5f0;
}

.all-popular-link, 
.all-developers-link {
  width: 253px;
  margin-right: 24px;
  padding: 10px 42px;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.popular .product-list-wrapper {
  width: 100%
}

.popular-developers-title-wrapper {
  margin-top: 0;
}

.popular-developers-title {
  padding: 30px 25px;
}

.popular-developers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-left: -20px;
}

.popular-developers-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 145px;

  border: 1px solid #eaeaea;
}

.popular-developers-item {
  margin-bottom: 20px;
  margin-left: 20px;
}

.popular-developers-item:active {
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.3;
}

.services {
  margin-top: 66px;

  background-color: #f4f7f9;
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 940px;
  padding-top: 34px;
  padding-top: 36px;
}

.services-info h3 {
  margin-bottom: 0px;
}

.services-text {
  width: 417px;
  margin-top: 27px;

  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
}

.services-list {
  width: 625px;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  margin-left: 80px;
}

.services-item {
  display: none;
  min-height: 295px;
  padding: 11px 0 65px 0;
}

.services-security,
.services-credit {
  width: 240px;
  height: 61px;
  padding: 13px 22px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
}

.services-slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 55px;
}

.services-slider-controls label {
  position: relative;

  width: 240px;
  height: 61px;
  padding: 13px 22px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  cursor: pointer;
}

.services-slider-controls label:not(:last-of-type) {
  border-bottom: 2px solid #4d637b;
}

.services-title {
  margin: 0;

  font-size: 36px;
}

.services-list-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 940px;
  min-height: 295px;
}

.services-list::before {
  content: ' ';

  position: absolute;
  top: 17px;
  left: 230px;
  width: 10px;
  height: 279px;

  background: url('../img/content-img/layer-118.png') no-repeat 0 0;
}

.services-delivery-info {
  width: 625px;
  margin-left: 80px;
  margin-top: 25px;
}

.services-delivery-text {
  width: 283px;
  margin-top: 28px;
}

.services-slider-controls label:hover {
  background-color: #293449;
}

.services-slide:nth-child(1) {
  background: url('../img/content-img/layer-131.png') no-repeat 150px 33px;
}

.services-slide:nth-child(2) {
  background: url('../img/content-img/layer-130.png') no-repeat 150px 33px;
}

.services-slide:nth-child(3) {
  background: url('../img/content-img/layer-119.png') no-repeat 150px 33px;
}

#product-1:checked ~ .services-list .services-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .services-list .services-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .services-list .services-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .services-slider-controls .slider-controls-item-1,
#product-2:checked ~ .services-slider-controls .slider-controls-item-2,
#product-3:checked ~ .services-slider-controls .slider-controls-item-3 {
  color: #32425c;
  background-color: #ffffff;
}

#product1:focus ~ .services-slider-controls .slider-controls-item-1, 
#product2:focus ~ .services-slider-controls .slider-controls-item-2, 
#product3:focus ~ .services-slider-controls .slider-controls-item-3 { 
-webkit-box-shadow: 0 0 2px #00f; 
        box-shadow: 0 0 2px #00f; 
  outline-style: none;
}

.info-contact-wrapper {
  margin-top: 48px;
  margin-bottom: 84px;
}

.info-text,
.contact-text,
.services-delivery-text {
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contact-text {
  margin-bottom: 30px;
}

.info-text {
  margin-bottom: 22px;
}

.info-partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.contact-office {
  margin-bottom: 31px;
}

.info-partners-item a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.info-partners-item {
  padding-bottom: 15px;
}

.info-partners-item:before {
  content: ' ';

  display: inline-block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 7px;

  background-color: #ee3643;
  vertical-align: middle;
}

.button {
  display: inline-block;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  cursor: pointer;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;

  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-contatcs {
  margin-left: 4px;
}

.footer-contatcs,
.footer-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 560px;
  margin: 0;
  padding: 0;
  padding-top: 29px;
}

.catalog-item a { 
  font-size: 18px; 
  line-height: 24px; 
  color: #ffd180; 
}

.catalog-item { 
  padding: 0; 
  max-width: 140px; 
  margin: 0 30px; 
}
 
.catalog-item:last-child { 
  margin-right: 0;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

.reserved,
.footer-feedback,
.footer-developing {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-feedback p,
.footer-developing p {
  margin: 0;
}

.footer-feedback {
  margin-right: 52px;
}

.footer-feedback a,
.footer-developing a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-navigation-item a:hover,
.catalog-item a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.catalog-item a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-feedback a:hover,
.footer-developing a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developing a:active {
  color: #ee3643;
  text-decoration: none;
}

.cart-with-items,
.cart-with-items:hover {
  width: 150px;
  padding-left: 0px;
  background-color: #ee3643;
}

.cart-with-items .cart-icon {
  fill: #f3737c;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;
  background-color: #f2f6f8;
}

.profile-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  padding: 0;
  margin: 0;
}

.profile-item .profile-link {
  position: relative;
}

.profile-link:before {
  content: ' ';

  position: absolute;
  display: inline-block;
  width: 20px;   
  height: 18px;
  left: 12px;
  vertical-align: middle;

  background: url('../img/svg/icon-user.svg') no-repeat;
  opacity: 0.3;
}

.profile-logout-icon {
  fill: #c5c5c5;
}

.profile-logout-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-top: 14px;
  padding-bottom: 15px;

  background-color: #ffffff;
}

.profile-logout-icon:hover {
  fill: #32425c;
}

.profile-logout-icon:active {
  fill: #c5c5c5;
}

.profile-link:hover:before {
  opacity: 1;
}

.profile-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-link:active:before {
  opacity: 0.3;
}

.profile-link {
  position: relative;
  display: block;
  padding: 12px 25px 13px 48px;
    
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.profile-username {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;  

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 40px;
  margin-top: 18px;
}

.breadcrumbs li::after {
  content: ' ';

  position: absolute;
  top: 5px;
  right: -24px;

  width: 8px;
  height: 12px;

  background: url('../img/svg/icon-right-small.svg') no-repeat;
}

.breadcrumbs-icon {
  fill: #c1c6ce;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-item-end::after {
  display: none;
}

.main-title {
  margin: 0;
  padding: 28px 29px;

  font-weight: normal;
}
 
.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.filter-title {
  padding: 9px 18px;
  margin-top: 22px;
  
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-filter {
  width: 220px;
  margin-top: 14px;
}

.filter-item legend,
.filter-developers-option legend,
.filter-developers-option-nutr legend {
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 17px;
  line-height: 1.76px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 78%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;

  top: 28px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
}

.price-controls label {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.price-controls input {
  width: 95px;
  padding: 9px;

  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 17px;
  text-align: center;
  font-weight: normal;
  line-height: 1.06;
  border: none;
  border-radius: 5px;

  background-color: #f7f3ec;
}

.filter-developers-option {
  position: relative;

  margin-bottom: 20px;
}

.filter-developers-option::after,
.filter-developers-option::before {
  content: ' ';

  position: absolute;
  width: 100%;
  height: 1px;
    
  background-color: #e5e5e5;
}

.filter-developers-option::after {
  bottom: -4px;
}

.filter-developers-option::before {
  top: -17px;
}

.max-price {
  position: relative;

  margin-left: 32px;
}

.max-price:before {
  content: ' ';

  position: absolute;
  left: -18px;
  top: 18px;
  
  width: 10px;
  height: 1px;

  background-color: #444444;
  vertical-align: middle;
  text-align: center;
}

.filters {
  width: 220px;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;

  border: none;
}

.filter-developers-option,
.filter-developers-option-nutr { 
  margin-bottom: 13px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-developers-option {
  margin-top: 42px;
}

.filter-developers-option-nutr {
  margin-top: 21px;
}

.filters legend { 
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filters ul {
  margin: 0;
  padding: 0;
  margin-top: 13px;

  list-style: none;
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.developers-option label {
  position: relative;

  display: block;
  padding-left: 35px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  opacity: 0.77;
}

.developers-input-chekbox:not(:checked) + label::before {
  content: ' ';

  position: absolute;
  left: 0;
  top: 0;

  width: 22px;
  height: 24px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.developers-input-chekbox:checked + label::after {
  content: ' ';

  position: absolute;
  left: -1px;

  width: 27px;
  height: 23px;

  background: url('../img/svg/checkbox-on.svg') no-repeat 0 0;
}

.developers-input-chekbox:disabled+label,
.developers-input-chekbox:disabled+label::after {
  opacity: 0.4;
  pointer-events: none;
}

.developers-input-radio:disabled+label,
.developers-input-radio:disabled+label::after {
  opacity: 0.4;
  pointer-events: none;
}

.developers-input-chekbox:hover + label::after {
  opacity: 1;
  border-color: #b5b5b5;
}

.developers-input-chekbox:hover + label::before,
.developers-input-chekbox:hover + label {
  opacity: 1;
  border-color: #b5b5b5;
}

.developers-input-radio + label::before {
  content: ' ';

  position: absolute;
  left: -1px;
  top: 50%;
 
  width: 25px;
  height: 25px;
  
  -webkit-transform: translateY(-50%);
  
      -ms-transform: translateY(-50%);
  
          transform: translateY(-50%);
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.developers-input-radio:checked + label::after {
  content: ' ';

  position: absolute;
  top: 6px;
  left: 7px;

  width: 8px;
  height: 8px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.developers-input-radio:hover + label:after {
  opacity: 1;
  border-color: #b5b5b5;
}

.developers-input-radio:hover + label:before,
.developers-input-radio:hover + label {
  opacity: 1;
  border-color: #b5b5b5;
}

.developers-input:focus + label { 
  -webkit-box-shadow: 0 0 2px #00f; 
          box-shadow: 0 0 2px #00f; 
}

.developers-option {
  margin-bottom: 20px;

  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 15px;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.filter-button {
  padding: 10px 38px;
  margin-top: 58px;

  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog {
  width: 700px;
  margin-left: 20px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-filter {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 692px;
  margin-top: 19px;
  margin-bottom: 21px;
  padding: 8px 0 7px 8px;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.sorting-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  width: 685px;
}

.catalog-filter h3 {
  width: 198px;
  margin: 0;
  margin-left: 12px;
  
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.arrows-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  max-width: 490px;
  padding: 0;
  margin: 0;
}

.arrows-item {
  margin-left: 23px;
  margin-right: 44px;
}

.sorting-filter a {
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  font-weight: normal;
 
  text-transform: uppercase;
}

.sorting-filter-price,
.sorting-filter-type,
.sorting-filter-function {
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  font-weight: normal;
  color: #acaaa5;
  border-bottom: 1px dotted #ee3643;
}

.sorting-filter-price-active {
  color: #ee3643;
  border-bottom: none;
}

.paginator-filter .up,
.paginator-filter .down {
  position: relative;
  
  border: none;
  background-color: #f7f3ec;
  cursor: pointer;
}

.paginator-filter .up {
  top: 1px;
  right: 6px;

  outline: none;
}

.paginator-filter .down {
  top: 1px;
  right: -3px;

  outline: none;
}

.paginator-filter-icon {
  fill: #c5c5c5;
}

.up .paginator-filter-icon-active {
  fill: #ee3643;
  border-bottom: none;
}

.sorting-filter-price:hover,
.sorting-filter-type:hover,
.sorting-filter-function:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.paginator-filter:hover .paginator-filter-icon {
  fill: #231f20;
}

.sorting-filter-price:active,
.sorting-filter-type:active,
.sorting-filter-function:active {
  color: #ee3643;
  border-bottom: none;
}

.paginator-filter:active .paginator-filter-icon {
  fill: #ee3643;
}

.up:active,
.down:active {
  outline: none;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -20px;
}

.product-list-wrapper {
  width: 700px;
}

.product-item {
  position: relative;

  display: inline-block;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.product-new:before,
.banner-item-new:before {
  content: ' ';

  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;

  display: inline-block;
  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  
  vertical-align: middle;
  background: url('../img/content-img/new-flag.png') no-repeat 0 0;
}

.product-item .product-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
}

.product-info {
  margin-bottom: 25px;
}

.product-info .product-title {
  min-height: 38px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;

  text-transform: none;
}
.product-info .product-item-price-old {
  min-height: 18px;
  margin-top: 15px;
  margin-bottom: 19px;

  color: #999;
  text-decoration: line-through;
}

.product-info .product-item-price {
  position: relative;

  padding: 8px 34px;

  color: white;

  background: #ee3643;
  border-radius: 3px;
}

.product-info .product-item-price:after {
  content: ' ';

  position: absolute;
  top: 0;
  right: -27px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.product-item .product-hidden {
  position: absolute;

  top: 0;
  left: 0;
  z-index: 10;

  width: 218px;
  padding: 42px 0;

  background-color: rgba(255,255,255,0.9);
}

.product-hidden .buy,
.product-hidden .bookmark {
  width: 135px;
  margin: 0 auto;
  margin-bottom: 8px;
   
  font-size: 14px;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', 'sans-serif';
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase; 
  color: #ffffff;

  border-radius: 3px;
  background-color: #63a63e;
}

.product-hidden .bookmark {
  display: block;
  padding: 7px 0 7px 3px;

  color: #32425c;

  background: #ffffff;
  border: 3px solid #63a63e;
}

.product-item .product-hidden {
  display: none;
}

.product-item:hover .product-hidden {
  display: block;
}

.product-hidden .buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 11px 0px 7px 4px;

  text-align: center;

  border-bottom: 3px solid #367315; 
}

.buy-icon {
  margin-right: 20px;
  margin-left: 10px;
  fill: #92c178;
}

.buy:hover {
  background-color: #5fbb2d;
  border-bottom: 3px solid #367315;
}

.buy:hover .buy-icon {
  fill: #ffffff;
}

.buy:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.buy:active .buy-icon {
  fill: #ffffff;
}

.bookmark:hover {
  border: 3px solid #32425c;
}

.bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #c1c6ce;
  outline: none;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item:hover,
.popular-developers-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-info h3 {
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #000000;
}

.product-item-price-old {
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #999999;
  text-decoration: line-through;
}

.product-item-price {
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 25px;

  list-style: none;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 17px 14px;

  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38px;

  color: #000000;
  
  border-radius: 3px;
  border: 2px solid #e5e5e5;
}

.next a {
  padding-right: 31px;
  padding-left: 30px;

  text-transform: uppercase;
}

.pagination-item .pagination-link-active {
  padding: 19px 16px;

  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.pagination-item:hover a {
  border-color: #bdc6ca;
}

.pagination-item:active a {
  border-color: #ee3643;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;

  background-color: #f4f7f9;
}

.about-item h2 {
  width: 940px;
  margin-top: 66px;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-item-text {
  width: 940px;
  margin-top: 1px;
  margin-bottom: 66px;

  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: fixed;
 
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 620px;
  margin: 0 auto;

  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 620px;
  margin-top: 48px;
}

.modal-search {
  display: none;

  top: 50%;
  left: 50%;
  z-index: 22;

  width: 620px;
  height: 406px;
  margin-left: -310px;
  margin-top: -207px;

  border-top: 7px solid #ee3643;
}

.modal-search-name,
.modal-search-email,
.modal-search-comment {
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  color: #000000;
}

.modal-search-form input[type='text'],
.modal-search-form input[type='email'] {
  width: 220px;
  padding: 6px 12px;

  font: inherit;
  color: #000000;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-search-name input[type='text']::-webkit-input-placeholder { 
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  color: #999999;
}

.modal-search-name input[type='text']:-ms-input-placeholder { 
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  color: #999999;
}

.modal-search-name input[type='text']::-ms-input-placeholder { 
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  color: #999999;
}

.modal-search-name input[type='text']::placeholder { 
  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  color: #999999;
} 

.modal-search-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 72px;
}

.modal-search-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 69px;
}

.modal-search-comment {
  margin-top: 21px;
}

.modal-search-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
}

.modal-search-comment textarea {
  width: 460px;
  height: 91px;
  padding: 10px;

  font-family: 'PT Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  color: #999999;

  border: 2px solid #dee3e4;
  border-radius: 3px;
  resize: none;
}

input[name='user-name']:hover,
input[name='user-email']:hover {
  border: 2px solid #b5b5b5;
}

input[name='user-name'],
input[name='user-email'] {
  outline: none;
}

input[name='user-name']:focus,
input[name='user-email']:focus {
  outline: 2px solid #ee3643;
  border: 2px solid #ee3643;
}

.modal-search-comment textarea:hover {
  border: 2px solid #b5b5b5;
  outline: none;
}

.modal-search-comment textarea:focus {
  outline: 2px solid #ee3643;
  border: 2px solid #ee3643;
}

.button-send-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 620px;
  padding: 34px 82px;
  margin-top: 36px;

  background-color: #f1f1f1;
}

.button-send {
  width: 100%;
  max-width: 460px;
  padding: 8px;

  border-radius: 3px;
    
  outline: none;
}

.modal-map {
  display: none;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 448px;
  margin-left: -470px;
  margin-top: -224px;
}

.modal-map p {
  margin: 0;
}

.modal-map iframe {
  border: 0;
}

.map {
  width: 960px;
  height: 446px;

  background: url('../img/content-img/4.jpg') no-repeat 0 0;
}

.modal-added-cart {
  display: none;
  top: 50%;
  left: 50%;
  z-index: 33;

  width: 620px;
  padding-top: 66px;
  margin-left: -310px;
  margin-top: -207px;

  border-top: 7px solid #ee3643;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-added-cart h2 {
  margin: 0;
  margin-bottom: 68px;
  margin-left: 180px;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: none;
}

.modal-added-cart-icon {
  position: absolute;
  top: 49px;
  left: 81px;
}

.button-modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px 80px;

  background-color: #f1f1f1;
}

.button-modal {
  max-width: 220px;
  width: 100%;
  padding: 6px;

  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  font-size: 0;

  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: ' ';

  position: absolute;
  top: 9px;
  left: -2px;

  width: 26px;
  height: 4px;

  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.continue-shopping {
  color: #000000;
  background-color: #ffffff;
}

.product-img-wrapper:hover .product-hidden {
  display: none;
}