body {
  margin: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  
  color: #000000;
  font-weight: normal;
    
  background-color: #ffffff;
}

a {
  
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 960px;
  /*height: 43px;*/
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  height: 320px;
  background-color: #f3f7f9;
}
    

.main-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 47px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.header-top-wrapper {
  display: flex;

  justify-content: space-between;
  height: 43px;
  box-sizing: border-box;
}

.form-search {
  display: flex;
  width: 260px;
}

.form-search-button {
  display: flex;
  align-items: center;

  background-color: unset;
  border: none;
   
}

input::-webkit-input-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-ms-input-placeholder { color: #fff; }
input::placeholder { color: #fff; } 

.form-search-button svg {
  padding: 12px;
  fill: #6a7180;
}

.bookmark-header,
.cart svg {
  fill: #6a7180;
}

.entry-link svg {
  right: 69px;
  margin-right: 17px;
  margin-top: 2px;
  fill: #c4c4c4;

}

.user-nav-item .entry-link:hover,
.user-nav-item .entry-link svg:hover {
  color: #ef3743;
  fill: #32425b;
}


.order-button {
  width: 150px;
  text-align: center;
}
.bookmark-header,
.cart {
  width: 160px;
  text-align: center;

}

.cart {
  
}

.cart:before {
  content: ' ';
  display: inline-block;
  background-image: url('../img/svg/icon-cart.svg');
  width: 15px;   
  height: 15px;
  
}

.user-nav,
.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-nav .entry-link {
  position: relative;
  padding-left: 32px;
}

.entry-link svg {
  position: absolute;
  
}


.main-nav-list a {
  display: block;
  padding: 21px 30px;
  vertical-align: middle;
}

.user-nav-list {
  display: flex;
  justify-content: inherit;
  width: 720px;
  margin-right: auto;
  
}

.user-nav-list a {
  display: block;
  padding: 10px;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.form-search input {
  border: none;
  background-color: #293449;
}

/*.bookmark-header,
.cart-with-items,
.order-button*/


.order-button {
  background-color: #5fbb2d;
  
}


.header-middle,
.header-bottom {
  background-color: #f3f7f9;
}

.header-middle {
  display: flex;

  padding-top: 45px;
  padding-bottom: 18px;

}

.header-middle-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-middle h1 {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  width: 196px;
  margin-left: 53px;
  }

.header-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.entry-link {
  display: block;
  width: 120px;
  height: 45px;
  padding: 10px;
  padding-left: 13px;
}

.check-in-link {
  display: block;
  width: 150px;
  height: 45px;
  padding: 10px;
  margin-left: 10px;
}

.check-in-link:hover {
  color: #ef3743;
}


/*.user-nav-item:first-child {
  
  background-color: #ffffff;
  text-align: center;
  
}

.user-nav-item:last-child {
  width: 130px;
  height: 25px;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
}*/

.main-nav-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 940px;
  /*height: 60px;*/
  box-shadow: inset 0px -5px 0 0 #293449;
  
}

.header-middle h1,
.main-title-catalog {

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-phone {
  width: 270px;
  height: 45px;
  text-align: center;
  padding: 10px;
  margin-right: 70px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: solid 3px #ffffff;
}

.address {
  width: 270px;
  margin-top: 6px;

  text-align: center;
  font-size: 14px;
  line-height: 24px;

  color: #32425c;

}

.entry-link,
.check-in-link {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.nav-user-item a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: underline;
}

/*временное свойство*/
.center {

  height: 2050px;
}

.info-contact-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: bordbackground-color: #ffffff;er-box;
  height: 480px;
}

.info {
  width: 570px;
  height: 293px;
}

.info-partners-list {
  margin: 0;
  padding: 0;
}

.button-about-company {
  width: 220px;
  height: 38px;
  padding: 7px;

  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;

  background-color: #ee3643;
}

.contact {
  width: 300px;
}

.button-write {
  
  width: 300px;
  height: 38px;
  padding: 7px;
  margin-top: 33px;

  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;

  background-color: #ee3643;
}

.header-top-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 68px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-top-nav {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: flex-end;
  width: 570px;
  justify-content: space-between;
  height: 68px;
}

.footer-contatcs-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 49px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 550px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.footer-contatcs p {
  margin-bottom: 0;
  margin-top: 28px;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 106px;
}

.fotter-social-list {

}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  height: 430px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.modal-search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 620px;
  height: 312px;
}







.breadcrumbs-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38px;
  font-weight: normal;
  color: #000000;

  text-transform: uppercase;
}

.user-nav-list:hover,
.form-search:hover {
  background-color: #212a3a;
}

.bookmark-header:active,
.basket:active {
  background-color: #161d29;
}

.form-search:focus {
  background-color: #ffffff;
}
.user-nav,
.main-nav-list,
.info-partners-list,
.footer-navigation-list,
.catalog-list,
.fotter-social-list,
.user-nav-list,
.breadcrumbs,
.product-list,
.pagination-list {
  list-style: none;
}

.main-nav {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 #293449;

  background-color: #32425c;
}



.main-nav-item a:hover {
  background-color: #293449;
}

.main-nav-item a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}


.user-nav-item a:hover {
  color: #ee3643;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.info-text,
.contact-office {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contact-office {
  margin-bottom: 31px;
}

.info-partners-item a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

/*.red-line {
  width: 25px;
  height: 2px;

  background-color: #ee3643;*/
}

.button {
  font: inherit;
  /*font-size: 14px;
  line-height: 17.5px;*/
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;

  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-contatcs,
.footer-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.catalog-item a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

.reserved,
.footer-feedback,
.footer-developing {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-feedback a,
.footer-developing a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-navigation-list:hover,
.catalog-list:hover {
  text-decoration: underline;
}

.footer-navigation-list:active {
  color: rgba(241, 245, 247, 0.5);
}

.catalog-list:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-feedback a:hover,
.footer-developing a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developing a:active {
  color: #ee3643;
  text-decoration: none;
}
.modal-search {

  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.modal-form-item input {
  font: inherit;
  font-size: 13px;
  line-height: 17.5px;
  color: #000000;
  border: inside 2px #dee3e4;
}

/*catalog.html*/

.cart-with-items {
  background-color: #ee3643;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}

.filters ul {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.filter-button {
  font-family: PTSans, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.cart-with-items {

}

.product-item {
  border: solid 1px #e5e5e5;

}

.product-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-info h3 {
  font-family: PTSans, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #000000;
}

.product-item-price-old {
  font-family: PTSans, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #999999;
  text-decoration: line-through;
}

.product-item-price {
  font-family: PTSans, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #ffffff;

  background-color: #ee3643;
}

/*.pagination-list .pagination-item .pagination-item-first a {
  font-family: PTSans, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38px;
  color: #ffffff;

  background-color: #ee3643;

} не получается подключить красный квадрат с цифрой 1*/

.pagination-item+li a {
  font-family: PTSans, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38px;
  color: #000000;

  border: solid 1px #e5e5e5;
}

.about-item {
  background-color: #f4f7f9;
}

.about-item h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
}

.about-item-text {
  font-family: PTSans, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}


.modal-added-cart h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;

  text-transform: none;
}

.continue-shopping {

  color: #000000;
  background-color: #ffffff;

}

.button-modal {
  background-color: #f4f7f9;
}

.product-img-wrapper:hover .product-hidden {
  display: none;

}