body {
  margin: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  
  color: #000000;
  font-weight: normal;
    
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.main-header {
  height: 320px;

  background-color: #f3f7f9;
}
    
.main-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 47px;

  font-size: 24px;
  line-height: 24px;

  color: #ffffff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.header-top-wrapper {
  display: flex;
  justify-content: space-between;
  height: 43px;

  box-sizing: border-box;
}

.form-search {
  display: flex;
  width: 260px;
}

.form-search-button {
  display: flex;
  align-items: center;
  padding-right: 0px;

  background-color: unset;
  border: none;
}

input::-webkit-input-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-ms-input-placeholder { color: #fff; }
input::placeholder { color: #fff; } 
input::placeholder { padding-right: 10px; }

.form-search-button svg {
  padding: 12px;
  fill: #6a7180;
}

.bookmark svg,
.cart svg {
  fill: #6a7180;
}

.entry-link svg {
  right: 69px;
  margin-right: 17px;
  margin-top: 2px;
  fill: #c4c4c4;
}

.user-nav-item .entry-link:hover,
.user-nav-item .entry-link:hover svg {
  color: #ef3743;
  fill: #32425b;
}

.order-button {
  width: 150px;
  text-align: center;
}

.bookmark,
.cart {
  display: flex;
  align-items: center;
  
  width: 160px;
  text-align: center;
}

.bookmark svg {
  margin-left: 31px;
  margin-right: 13px;
}

.bookmark-counter,
.cart-counter {
  padding-left: 5px;
}
 
.cart svg {
  margin-right: 17px;
  margin-left: 24px;
}

.user-nav,
.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-nav .entry-link {
  position: relative;
  padding-left: 32px;
}

.entry-link svg {
  position: absolute;
  
}

.main-nav-list a {
  display: block;
  padding: 21px 30px;
  vertical-align: middle;
}

.user-nav-list {
  display: flex;
  
  width: 720px;
  margin-right: auto;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.form-search input {
  border: none;
  background-color: #293449;
}

.order-button {
  padding: 13px;
  background-color: #5fbb2d;
}

.header-middle,
.header-bottom,
.about-item {
  background-color: #f3f7f9;
}

.header-middle {
  display: flex;

  padding-top: 45px;
  padding-bottom: 18px;

}

.header-middle-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-middle h1 {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  width: 196px;
  margin-left: 53px;
  margin-top: 4px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 1.44;
  color: #ee3643;
}

.header-middle .main-title-catalog {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  width: 242px;
  margin-left: 53px;
  margin-top: 4px;
  
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  
  color: #ee3643;
}

.header-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-phone:before {
  content: ' ';
  position: absolute;
  display: inline-block;
  background-image: url('../img/svg/icon-phone.svg');
  width: 25px;   
  height: 20px;
  left: 12px;
  background-repeat: no-repeat;
}

.user-nav {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 300px;
}

.entry-link {
  display: block;
  width: 120px;
  height: 45px;
  padding: 10px;
  padding-left: 13px;
  margin-left: 21px;
}

.check-in-link {
  display: block;
  width: 150px;
  height: 45px;
  padding: 10px;
  margin-left: 10px;
}

.check-in-link:hover {
  color: #ef3743;
}

.main-nav-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 20px;

  align-items: center;
  
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-phone {
  position: relative;
  width: 270px;
  height: 45px;
  padding: 10px;
  margin-right: 50px;
  padding-left: 32px;

  text-align: center;
  font-size: 21px;
  line-height: 21px;
  
  color: #ee3643;

  border: solid 3px #ffffff;
}

.address {
  width: 270px;
  margin-top: 4px;

  text-align: center;
  font-size: 14px;
  line-height: 24px;

  color: #32425c;

}

.entry-link,
.check-in-link {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.nav-user-item {
  margin-bottom: 7px;
}

.nav-user-item a {
  margin-left: 19px;
  
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: underline;
}

/*.nav-user-item:before { 
  content: ' ';
  display: inline-block;
  
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;

}*/

/*временное свойство*/
.center {

  height: 2050px;
}

.info-company h2,
.contact h2 {
  font-weight: normal;
}



.info-contact-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; 
  background-color: #ffffff;
  height: 480px;
}

.info {
  width: 570px;
  height: 293px;
}

.button-about-company {
  width: 220px;
  height: 38px;
  padding: 7px;
  margin-top: 22px;

  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;

  background-color: #ee3643;
}

.contact {
  width: 300px;
  
}

.contact img {
  margin-top: 17px;
}

.button-write {
  width: 300px;
  height: 38px;
  padding: 7px;
  margin-top: 33px;

  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;

  background-color: #ee3643;
}

.header-top-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


/*футер*/
.footer-top-wrapper {
  display: flex;
  
  box-sizing: border-box;
}

.footer-nav {
  width: 720px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 68px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-top-nav {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    margin-left: 133px;
    min-height: 64px;
}
    
    

/*  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: flex-end;
  width: 570px;
  justify-content: space-between;
  height: 68px;
}
*/


.footer-contatcs-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 49px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 540px;
  height: 52px;
  margin: 0;
  padding: 0;
}

.footer-contatcs p {
  margin-bottom: 0;
  margin-top: 28px;
}

.reserved {
  margin-top: 39px;
  margin-bottom: 0;
}

.reserved p {
  margin: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
 
}

.social-button:hover,
.social-button:active {
  background-color: #ed3744;
}

.footer-social {
  margin-left: 73px;
  margin-top: 37px;
}

.footer-social-list {
  margin-left: 73px;
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  padding: 0;
}

.footer-social-item {
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #222b3a;
}


.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 106px;
}



}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  height: 430px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.modal-search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 620px;
  height: 312px;
}







.breadcrumbs-item a,
.breadcrumbs-item-end a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38px;
  font-weight: normal;
  color: #000000;

  text-transform: uppercase;
}



.user-nav-list:hover {
  background-color: #212a3a;
}

.user-nav-list:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.form-search:hover,
.form-search-button:hover,
.bookmark:hover,
.cart-counter:hover,
.form-search-button input:hover,
.form-search-button:hover svg,
.bookmark:hover svg,
.cart:hover svg {

  background-color: #212a3a;
  fill: #ffffff;
}



  
} 

.bookmark:active,
.basket:active {
  background-color: #161d29;
}

.form-search:focus {
  background-color: #ffffff;
}
.user-nav,
.main-nav-list,
.info-partners-list,
.footer-navigation-list,
.catalog-list,
.fotter-social-list,
.user-nav-list,
.breadcrumbs,
.product-list,
.pagination-list,
.profile-block {
  list-style: none;
}

.main-nav {
  margin-top: 6px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 #293449;
  width: 100%;
  background-color: #32425c;
      
}



.main-nav-item a:hover {
  background-color: #293449;
}

.main-nav-item a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}


.user-nav-item a:hover {
  color: #ee3643;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.info-contact-wrapper {
  box-sizing: border-box;
}

.info-text,
.contact-text {
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

}

.info-text {
  margin-bottom: 23px;
}

.info-partners-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.contact-office {
  margin-bottom: 31px;
}

.info-partners-item a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.info-partners-item {
  padding-bottom: 14px;
}


.info-partners-item:before {
  content: ' ';
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  vertical-align: middle;
  margin-right: 7px;
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;

  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-contatcs {
    margin-left: 2px;
}

.footer-contatcs,
.footer-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.catalog-item a {
  padding-left: 16px;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.catalog-item {
  padding: 0;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

.reserved,
.footer-feedback,
.footer-developing {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-feedback a,
.footer-developing a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-navigation-item:hover,
.catalog-item:hover {
  text-decoration: underline;
}

.footer-navigation-list:active {
  color: rgba(241, 245, 247, 0.5);
}

.catalog-list:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-feedback a:hover,
.footer-developing a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developing a:active {
  color: #ee3643;
  text-decoration: none;
}

.hidden {
  display: none;
}

.modal-search {

  display: none;

  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.modal-form-item input {
  font: inherit;
  font-size: 13px;
  line-height: 17.5px;
  color: #000000;
  border: inside 2px #dee3e4;
}

/*catalogg.html*/



.cart-with-items {
  background-color: #ee3643;
}

.cart-with-items svg {
  fill: #f3737c;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;

  background-color: #f2f6f8;
}

.profile-block {
  width: 300px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-item .profile-link {
  position: relative;
}

.profile-link:before {
  content: ' ';
  position: absolute;
  display: inline-block;
  background-image: url('../img/svg/icon-user.svg');
  width: 20px;   
  height: 18px;
  left: 12px;

  opacity: 0.3;
  background-repeat: no-repeat;

}

.profile-logout-item svg {
  fill: #c5c5c5;
}

.profile-logout-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: #ffffff;
}

.profile-link {
  padding: 12px 16px 12px 49px;
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.profile-username {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}


.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;  
  list-style: none;
  
}

.breadcrumbs li {
  position: relative;

  position: relative;
  margin-right: 40px;
  margin-top: 18px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 7px;
  right: -25px;
  
  background-image: url('../img/svg/icon-right-small.svg');
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}

.breadcrumbs-item svg {
  fill: #c1c6ce;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-item-end::after {
  display: none;
}

.main-title {
  margin: 0;
  padding: 28px 29px;
  font-weight: normal;
}
 
.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.filter-title {
  padding: 9px 18px;
  margin-top: 22px;
  
  width: 185px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-transform: uppercase;

  background-color: #f7f3ec;
  
  border-radius: 5px;
}

.range-filter {
  width: 220px;
  margin-top: 14px;
}

.filter-item legend,
.filter-developers-option legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.76px;
  font-weight: bold;
  text-transform: uppercase;
}






.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 78%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 40%;
}

.price-controls input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  font-weight: normal;
  line-height: 1.06;
}

.price-controls input {
  width: 79px;
  padding: 10px;

  border: none;
  border-radius: 5px;

  background-color: #f7f3ec;
}

.max-price {
  margin-left: 32px;
}
    

.max-price:before {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #444444;
  vertical-align: middle;
  text-align: center;
  left: 467px;
  top: 690px;
}

.hr {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  
  background-color: #e5e5e5;
}

.filters {
  width: 220px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;

  border: none;
}

.filter-developers-option legend { 
  margin-bottom: 13px;
}

.filters legend { 
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.developers-option {
  margin-bottom: 20px;
  padding-left: 35px;

  
}

.developers-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.developers-input-chekbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 18px;
  height: 19px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.developers-input-chekbox:checked + label::after {
  content: "";

  position: absolute;
  left: -36px;

  width: 27px;
  height: 23px;

  background-image: url('../img/svg/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.developers-input-radio + label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: -1px;

  width: 16px;
  height: 16px;
  
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.developers-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -26px;

  width: 8px;
  height: 8px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.developers-option {

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.filter-button {
  padding: 10px 38px;
  margin-top: 42px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog {
  width: 700px;
  margin-left: 20px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-filter {
  position: relative;
  display: flex;
  background-color: #f7f3ec;
  width: 685px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 25px;
  padding: 7px;
  border-radius: 2px;
}

.sorting-filter {
  
  display: flex;
  justify-content: space-between;
  width: 355px;
}

.catalog-filter legend {
  width: 221px;
  margin-left: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.sorting-filter a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
 
  text-transform: uppercase;
}

.sorting-filter-price {
  color: #ee3643;
}

.sorting-filter-type,
.sorting-filter-function {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #acaaa5;
  border-bottom: 1px dotted #ee3643;
}

.paginator-filter .up {
  position: absolute;
  padding: 10px;
  top: -2px;
  right: 40px;
}

.paginator-filter .down {
  position: absolute;
  padding: 10px;
  top: -2px;
  right: 7px;
}

.paginator-filter .up svg {
  fill: #ee3643;
}

.paginator-filter .down svg {
  fill: #c5c5c5;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/*.product-items .row{ 
    margin-left: -20px;
}*/

.product-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
 /* margin-left:20px;*/
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.product-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.product-item .flag-new {
    background: url("../img/content-img/new-flag.png") no-repeat 0 0;
}

.product-item .product-img-wrapper {
  width: 218px;
  height: 168px;
}
.product-item .product-img-wrapper img {
  max-width: 100%;
  margin-top: 26px;
  margin-right: 12px;
}

.product-info .product-title {
  min-height: 38px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}
.product-info .product-item-price-old {
  min-height: 18px;
  margin-top: 15px;
  margin-bottom: 6px;
  color: #999;
  text-decoration: line-through;
}

.product-item .product-item-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 19px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.product-item .product-item-price:after{
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.product-item .product-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.product-item .product-hidden .buy,
.product-item .product-hidden .bookmark{
  
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315; 
  background-color: #63a63e;
  color:white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;    
  border-radius: 3px;
}

.product-item .product-hidden .bookmark {
  display: block;
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product-item .product-hidden {
  display: none;
}
.product-item:hover .product-hidden {
  display: block;
}

.product-hidden .buy {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.buy svg {
  margin-right: 13px;
  margin-left: 16px;
  fill: #92c178;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-info h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #000000;
}

.product-item-price-old {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #999999;
  text-decoration: line-through;
}

.product-item-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 25px;

  list-style: none;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 16px 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38px;

  color: #000000;
  
  border-radius: 3px;
  border: 2px solid #e5e5e5;
}

.pagination-list .next a {
  padding-right: 31px;
  padding-left: 30px;
  text-transform: uppercase;
}

.pagination-item .pagination-item-first {
  background-color: #ee3643;
  border: none;
  padding: 18px 16px;
  color: #ffffff;
  
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  background-color: #f4f7f9;
}

.about-item h2 {
  width: 940px;
  margin-top: 66px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
}

.about-item-text {
  width: 940px;
  margin-top: 1px;
  margin-bottom: 68px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  
}


.modal-added-cart h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;

  text-transform: none;
}

.continue-shopping {

  color: #000000;
  background-color: #ffffff;

}

.button-modal {
  background-color: #f4f7f9;
}

.product-img-wrapper:hover .product-hidden {
  display: none;

}